[submodule "mat_weight_certs"]
	path = mat_weight_certs
	url = git@github.com:holmesco/mat_weight_certs
[submodule "ro_certs"]
	path = ro_certs
	url = git@github.com:duembgen/dev_safe_and_smooth

[submodule "poly_matrix"]
	path = poly_matrix
	url = git@github.com:utiasASRL/poly_matrix
[submodule "certifiable-tools"]
	path = certifiable-tools
	url = git@github.com:utiasASRL/certifiable-tools
[submodule "starrynight"]
	path = starrynight
	url = git@github.com:utiasASRL/aer1513
[submodule "starloc"]
	path = starloc
	url = git@github.com:utiasASRL/starloc
