_results/
_results_server/
_plots/
starrynight/
log/

__pycache__
*.ipynb_checkpoints/
venv/
*.egg-info/
*.vscode
*.swp

_results_new/
_results_server_new/
certifiable-tools/
mat_weight_certs/
ro_certs/
_results*

