[submodule "poly_matrix"]
	path = poly_matrix
	url = git@github.com:utiasASRL/poly_matrix
[submodule "starloc"]
	path = starloc
	url = git@github.com:utiasASRL/starloc
[submodule "certifiable-tools"]
	path = certifiable-tools
	url = git@github.com:utiasASRL/certifiable-tools
[submodule "mat_weight_certs"]
	path = mat_weight_certs
	url = git@github.com:holmesco/mat_weight_certs
