_results*
_plots/
log/

__pycache__
*.ipynb_checkpoints/
venv/
*.egg-info/
*.vscode
*.swp

*.code-workspace
solve_mosek.ptf
solve_cvxpy*.ptf
build/
dist/
mosek_output.tmp

mat_weight_certs
starloc/
ro_certs/

*.code-workspace
